
body{
    background-image: url(onepiece.jpg);
    background-repeat: no-repeat;
    background-size: inheri; 
}



.container{
    padding: 10px;
    border-radius: 10px;
    display: inline-block;

}

h1,h2,h3,p,ul{
    font-family:Lucida Console;
    font-size:x-large;
    text-align:center;

}


.profile{

    object-fit: cover;
    border-radius: 50%;

}
.profile, .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}